<div class="js-calculator" data-modifier="{{modifier}}">
  {{title}}
  <input type="text" class="js-addend-1">
  {{modifier}}
  <input type="text" class="js-addend-2">
  <span class="js-result"></span>
</div>
